<!doctype html>
<html lang="en">
    <% include partials/structure/head.ejs %>
  <body>
    <% include partials/content/musicList.ejs %>
    
    <% include partials/structure/scripts.ejs %>
  </body>

</html>